body{
    background-color: rgb(25, 24, 24);
    color: aliceblue;
    }

    .skipmain a{
        display: none;
    }

    a{
        color: rgb(234, 255, 0);
    }
    h1{
        font-size: 12;
        font-family: 'Courier New', Courier, monospace ;
        align-items: center;
    }
    h2{
        font-size: 12;
        font-family: 'Courier New', Courier, monospace ;
        align-items: center;
    }
    h3{
        font-size: 12;
        font-family: 'Courier New', Courier, monospace ;
        color: white;
    }
    p{
        line-height: double;
        padding: 10px;
    }
    
    img{
        border: solid black 5px;
        padding: 10px;
        width: 200px;
        margin: 20px;
        border-top-right-radius: 30px;
    }
     img:hover {
                    border: solid red 10px;
                }  
    
    
    nav{
        border: 2px solid black;
        font-size: 20px;
        background-image: url("../image/images.jpg");
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    }
    nav li
    {
        height: 50px;
        border: 1px black solid;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        text-decoration: none;
        
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-gap: 10px;
        padding: 10px;
    }
    #curPage{
        color: rgb(226, 43, 43);
        text-decoration:underline;
        font-weight: bold;
        font-size: 25px;
    }


      @keyframes animation {
        from {background-color: red;}
        to {background-color: yellow;}
        to {background-color: purple;}
        to {background-color: blue;}
        to {background-color: cyan;}
        to {background-color: indigo;}
        to {background-color: midnightblue;}
      }

      .animation {
        width: 100px;
        height: 100px;
        background-color: black;
        animation-name: animation;
        animation-duration: 10s;
        
        animation-iteration-count: infinite;
      }

    
      /*tablet view*/
        @media only screen and (min-width: 768px){
    
              /* Styles for tablet view */
              body {
                  background-color: rgb(25, 24, 24);
                  color: aliceblue;
              }
    
              a {
                  color: rgb(234, 255, 0);
              }
    
              h1 {
                  font-size: 12;
                  font-family: 'Courier New', Courier, monospace;
                  align-items: center;
              }
    
              h2 {
                  font-size: 12;
                  font-family: 'Courier New', Courier, monospace;
                  align-items: center;
              }
    
              h3 {
                  font-size: 12;
                  font-family: 'Courier New', Courier, monospace;
                  color: white;
              }
    
              p {
                  line-height: double;
              }
    
              img {
                  border: solid black 5px;
                  padding: 10px;
                  margin: 20 px;
                  border-top-right-radius: 30px;
              }
    
              nav {
                  border: 2px solid black;
                background-image: url("../image/images.jpg");
                    background-attachment: fixed;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
              }
    
              nav li {
                  height: 50px;
                  border: 1px black solid;
                  display: inline-block;
    
              }
    
              .grid-container {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  grid-template-rows: 3fr;
                  grid-gap: 20px;
                  padding: 10px;
              }

            .skipmain a {
                display: block;
                top: -100px;
                left: 0;
                padding: 6px;
                z-index: 1;
                position: relative;
            }
            
            .skipmain a:focus {
                top: 20px;
                position: relative;
            }
          }

      /*desktop view*/
        @media only screen and (min-width: 992px){
                body{
                    background-color: rgb(25, 24, 24);
                    color: aliceblue;
                    }
                    a{
                        color: rgb(234, 255, 0);
                    }
                    h1{
                        font-size: 12;
                        font-family: 'Courier New', Courier, monospace ;
                        align-items: center;
                    }

                    h2{
                        font-size: 12;
                        font-family: 'Courier New', Courier, monospace ;
                        align-items: center;
                    }

                    h3{
                        font-size: 12;
                        font-family: 'Courier New', Courier, monospace ;
                        color: white;
                    }

                    p{
                        line-height: double;
                    }

                    img{
                        border: solid black 5px;
                        padding: 10px;
                        margin: 20 px;
                        border-top-right-radius: 30px;
                    }

                    nav{
                        border: 2px solid black;
                        background-image: url("../image/images.jpg");
                            background-attachment: fixed;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                    }

                    nav li{
                        height: 50px;
                        border: 1px black solid;
                        display: inline-block;
                        
                    }
                
                    .grid-container{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 3fr;
                        grid-gap: 20px;
                        padding: 10px;
                    }
                                /*
                            .skip a {
                                background: white;
                                left: 0;
                                padding: 6px;
                                -webkit-transition: top 1s ease-out;
                                transition: top 1s ease-out;
                                z-index: 1;
                                top: -40px;
                                position: relative;
                            }
                    
                            .skip a:focus {
                                top: 20px;
                                position: relative;
                            }
                        */
                    .skipmain a{
                        display: block;
                        top: -100px;
                        left: 0;
                        padding: 6px;
                        z-index: 1;
                        position: relative;
                    }
                    .skipmain a:focus{
                        top: 20px;
                        position: relative;
                    }

            }

      .animation {
        width: 100px;
        height: 100px;
        background-color: black;
        animation-name: animation;
        animation-duration: 10s;
        animation-iteration-count: infinite;
      }
      
      .last_animation{
        width: 300px;
        height: 300px;
        position: relative;
        background-color: black;
        animation-name: last;
        animation-duration: 4s;
        animation-iteration-count: infinite;
      }
      
      @keyframes animation {
        from {background-color: red;}
        to {background-color: yellow;}
        to {background-color: purple;}
        to {background-color: blue;}
        to {background-color: cyan;}
        to {background-color: indigo;}
        to {background-color: midnightblue;}
      }
      
      @keyframes last{
        from {
                background-color: rgb(0, 0, 0); left: 300px; top: 0px;
            }  
      }

      @media (prefers-reduced-motion: reduce) {
        .animation{
            animation: none;
            transition: none;
        }
        .last_animation{
            animation: none;
            transition: none;
        }
        .gif{
            display: none;
        }
        .static{
            display: block;
        }
      }
    